ul {list-style-type: none;}

.weekdays {
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color:#EBA421;
    min-width: 670px;

}

.weekdays li {
    display: inline-block;
    width: 11.8%;
    color: #666;
    text-align: center;
}

.days {
    background: #eee;
    margin: 0;
    min-height:20px;

    min-width: 670px;
    height:3.9%;
}

.days li {
    height:100%;
    list-style-type: none;
    display: inline-block;
    width: 11.8%;
    text-align: center;
    font-size:12px;
    color:#777;
}

/* Highlight the "current" day */
.slot {
    background: #1AC924;
}
.time{
    width: 50px;
}
.not {
    background: #C9291A;
}

#alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
    display: none;
}


a {
    color: white;
}

#wrapper{
height: 100%;
width: 100%;
position: absolute;
}


#myProgress {
    width: 100%;
    background-color: grey;
}
#myBar {
    width: 1%;
    height: 40px;
    background-color: #1AC924;
}
