#center{
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    height: 70%;
    width: 70%;
    text-align: center;
    margin: auto;
}
 .plus_button{
    fill: red;
 }

path{
    fill: red;

}

.subtext{
    border-style: none none solid none;
    border-width: 1px;
    border-color: #818181;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#under_text{
    display: none;

}


#password_box{
  background: none;
  border: none;
  border-bottom: 1px solid #EBA421;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
