
{% extends 'base.html'%}

{% load static %}

{% block base %}

<link rel="stylesheet" href="{% static "css/chart.css" %}" />

    <div style="position: absolute; height: 100%; " class="ct-chart ct-perfect-fourth"></div>
    <script type="text/javascript" src="{% static "chart.js" %}"></script>
    <script type="text/javascript" src="{% static "moments.js" %}"></script>

    <script>
        var theme_color = "{{ theme_color }}";
        var accent_color = "{{ accent_color }}";
        function start(){
            theme_graph();
            chart.update();
        };


        function theme_graph(){
            $('.ct-point').css({'stroke-width': '0px'});

            if (theme_color == "Dark"){
                $('.ct-label').css({'color': '#ECEFF0'})
            }


            if (accent_color == "Green"){
                $('.ct-series-a').css({'stroke': '#008000'})
                $('.ct-line').css({'stroke': '#008000'})

            }
            if (accent_color == "Red"){
                $('.ct-series-a').css({'stroke': '#B6313E'})
                $('.ct-line').css({'stroke': '#B6313E'})

            }
            if (accent_color == "Orange"){
                $('.ct-series-a').css({'stroke': '#EBA421'})
                $('.ct-line').css({'stroke': '#EBA421'})

            }
            if (accent_color == "Blue"){
                $('.ct-series-a').css({'stroke': '#4472A7'})
                $('.ct-line').css({'stroke': '#4472A7'})

            }
        };

        $(window).resize(function () {
            chart.update();
            theme_graph();
        });

        var chart = new Chartist.Line('.ct-chart', {
          series: [
            {
              name: 'series-1',
              data: [
                {% for x, y in zips %}
                    {% if y != 85 %}
                        {x: {{ x }}, y: {{ y }} },
                    {% endif %}
                {% endfor %}

              ]
            },
          ]
        }, {
          axisX: {
            type: Chartist.FixedScaleAxis,
            divisor: 10,
            labelInterpolationFnc: function(value) {
              return moment(value).format('HH:mm');
            }
          }
        });

        chart.on('created', function(){
            chart.detach(); // it will detach resize and media query listeners
        });

    </script>
    {% endblock %}
