
{% extends 'base.html'%}

{% load static %}

{% block base %}
<link rel="stylesheet" href="{% static "css/light.css" %}" />

    <h1><span class="small_note" id="state_text">ggg</span></h1>

    <div class="light_images" >
        <img src="{% static "images/light_lit.svg" %}" data-action="set_state" id="light"  style=" z-index: 3;  position: absolute;"/>
    </div>


    <script>
        var state = "on";

        function start(){
            therm_set();
            change_state();
        }

        $(window).resize(function () {
          therm_set();
        });

        function therm_set(){

          var height = $(window).height();
          var width = $(window).width();
          var img_height = Math.round(height*0.8);
          if (img_height < 500){img_height = 500;}
          var margin_top = (Math.round(img_height/10));
          $('h1').css("font-size",margin_top*0.8);


          $('#light').css("height",img_height);

          var img_width = $('#light').width();
          var margin_left = (width/2)-(img_width/2);

          $('#light').css("top",margin_top);
          $('#light').css("left",margin_left);

        }

        function change_state(){

            if (state == "on"){
                $('#light').attr("src", "{% static "images/light_unlit.svg" %}");
                state = "off";
                $('#state_text').text("Light is off");

            }
            else{
                $('#light').attr("src", "{% static "images/light_lit.svg" %}");
                state = "on";
                $('#state_text').text("Light is on");

            }

        }

        $(function() {
            {% if user.groups.all.0.name == "Admin" or user.groups.all.0.name == "Member" %}
                $('[data-action="set_state"]').on('click', function() {
                    change_state()
                });
            {% endif %}

        });
    </script>
{% endblock %}
