{% extends 'base.html'%}

{% load static %}

{% block base %}


<div style="width: 70%; height: 80%; margin: auto; position: absolute; top:0; bottom: 0; left: 0; right: 0; overflow-y: scroll;">
        {% for heater_state, heater_time, heater_user in zips %}

            {% if heater_state == "constant_on_0" %}
                Set to Constant On. Device on since actual temperature is lower than desired temperature. <br>Set by {{ heater_user }} on {{ heater_time }}<br>
            {% endif %}

            {% if heater_state == "constant_on_1" %}
                Set to Constant On. Device off since actual temperature is higher than desired temperature. <br>Set by {{ heater_user }} on {{ heater_time }}<br>
            {% endif %}

            {% if heater_state == "use_schedule_0" %}
                Set to Use Schedule. Device on because actual temp lower than desired temp and schedule set active on current hour. <br>Set by {{ heater_user }} on {{ heater_time }}<br>
            {% endif %}

            {% if heater_state == "use_schedule_1" %}
                Set to Use Schedule. Device off because actual temp higher than desired temp and schedule set active on current hour. <br>Set by {{ heater_user }} on {{ heater_time }}<br>
            {% endif %}

            {% if heater_state == "use_schedule_2" %}
                Set to Use Schedule. Device on because actual temp lower than desired temp and AI turned on. <br><span style="text-align: right;">Set by {{ heater_user }} on {{ heater_time }}<br>
            {% endif %}

            {% if heater_state == "use_schedule_3" %}
                Set to Use Schedule. Device off because actual temp higher than desired temp and AI turned on. <br>Set by {{ heater_user }} on {{ heater_time }}<br>
            {% endif %}

            {% if heater_state == "use_schedule_4" %}
                Set to Use Schedule. Device off because device not scheduled to be on on current hour. <br>Set by {{ heater_user }} on {{ heater_time }}<br>
            {% endif %}

            {% if heater_state == "constant_off_0" %}
                Set to Consant Off. Device off. <br>Set by {{ heater_user }} on {{ heater_time }}.<br>
            {% endif %}

            <br><br>
        {% endfor %}
</div>

<script>

    function start(){
    };

</script>
{% endblock %}
