{% extends "base.html" %}
{% load staticfiles %}

{% block base %}
<link rel="stylesheet" href="{% static "css/jquery-ui.css" %}" />
<link rel="stylesheet" href="{% static "css/main.css" %}" />



    {% if user.groups.all.0.name == "Admin" or user.groups.all.0.name == "Member" %}

        <div class="Orange" id="Light">
          <input type="radio" value="1" data-action="set_state" id="constant_on"/><label class="radio" for="constant_on">Constant On</label><input data-action="set_state" type="radio" id="schedule"  value="2" /><label class="radio" for="schedule">Use Schedule</label><input data-action="set_state" type="radio" id="constant_off" value="3"/><label class="radio" for="constant_off">Constant Off</label>
        </div>
    {% endif %}

    <h1><span class="small_note" id="average_time"></span></h1>

    <div id = "disconnect_alpha">

    </div>

    <div id="disconnect_error">
        The relay device is disconnected
    </div>

    <div class="therm" >

        <img src="{% static "images/drawing.svg" %}" id="outside_therm"  style=" z-index: 3; width: 100%; position: absolute;"/>
        <img src="{% static "images/drawing1.svg" %}" id="inside_therm" style=" z-index: 1; width: 100%; position: absolute;"/>
        <img src="{% static "images/drawing3.svg" %}" id="block_therm" style="z-index: 2; width: 100%; position: absolute;"/>
        {% if user.groups.all.0.name == "Admin" or user.groups.all.0.name == "Member" %}
            <svg id="desired_temp_arrow" class="ui-widget-content" position="absolute" style = "z-index: 1; padding-top: 50%; padding-right: 100%; " >
              <polygon id="inner_arrow" points="0,10 20,0 20,20" style="fill:#EBA421 ; z-index:1;" />
            </svg>
        {% endif %}
    </div>
  <p id="current_temp" style="text-align: right; width: 35%; font-size: 28px; position: absolute; "> Actual Temperature <span id="sensor" style="font-weight: bold;">{{ current_temp }}</span><span style="font-weight: bold;">°C</span></p>
  <p id="desired_temp" style="width: 35%; font-size: 28px; position: absolute;"> <span id="set_temp" style="font-weight: bold;">{{ desired_temp }}</span><span style="font-weight: bold;">°C</span> Set Temperature</p>




  <script type="text/javascript" src='{% static "jquery-ui.js" %}'></script>
  <script type="text/javascript" src='{% static "touchpunch.js" %}'></script>
  <script type="text/javascript" src='{% static "reconnecting-websocket.min.js" %}'></script>



  <script>
    var x;
    var schedule_array = [];
    var desired_temp_websocket = {{ desired_temp }};
    var current_temp_websocket = {{ current_temp }};
    var average_websocket = {{ average }};
    var h_state = "{{ heater_state }}";


    var websocket_heater_state = 2;
    var server_time = {{ server_time }};
    var d = new Date();
    var local_time = d.getTime();
    var time_difference = server_time - local_time;
    var user_server_time = local_time + time_difference;
    var ai_state = "{{ ai_state }}";
    var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
    var chatsock = new ReconnectingWebSocket(ws_scheme + '://' + window.location.host + "/main/");
    var theme_color = "{{ theme_color }}";
    var accent_color = "{{ accent_color }}";


        chatsock.onopen = function open() {
          console.log('WebSockets connection created.');
        };
      function therm_set(){
        var height = $(window).height();
        var width = $(window).width();
        var img_height = Math.round(height*0.8);
        if (img_height < 500){img_height = 500;}
        var img_width = Math.round(img_height*0.17548750605255822);
        var margin_top = (Math.round(img_height/10));
        var margin_left = (width/2)-(img_width/2);

        var max_block_height = -(Math.round(img_height*0.75));
        var single_block_difference = max_block_height/30;
        var current_temp_final_height = single_block_difference * current_temp_websocket;
        var desired_temp_final_height = single_block_difference * desired_temp_websocket;

        var current_temp_margin = Math.round(  (width*0.15)-(img_width*0.45)  );
        var desired_temp_margin = Math.round(  (width*0.5)+(img_width*0.45)  );
        var max_height_rounded;


        $('h1').css("font-size",margin_top*0.4);
        {% if user.groups.all.0.name == "Admin" or user.groups.all.0.name == "Member" %}

            $('.radios').css({'height': height*0.06})

            $('.radio').css({'font-size': (height*0.03) + 'px','line-height': (height*0.03) + 'px'})
        {% endif %}

        $('.therm').css("width",img_width);
        $('.therm').css("top",margin_top);
        $('.therm').css("left",margin_left);

        $('#current_temp').css("height",50);
        $('#current_temp').css("top",(margin_top - 33 + img_height*0.05 + Math.abs(max_block_height - (current_temp_final_height))));
        $('#current_temp').css("margin-left",current_temp_margin);

        $('#desired_temp').css("height",50);
        $('#desired_temp').css("top",(margin_top - 30 + img_height*0.05 + Math.abs(max_block_height - (desired_temp_final_height))));
        $('#desired_temp').css("margin-left",desired_temp_margin);

        $('#block_therm').css("top",current_temp_final_height);
        $('.Orange').css("top", height*0.94);
        $('.Green').css("top", height*0.94);
        $('.Blue').css("top", height*0.94);
        $('.Red').css("top", height*0.94);

        $('.Orange').css("width", width);
        $('.Green').css("width", width);
        $('.Blue').css("width", width);
        $('.Red').css("width", width);

        {% if user.groups.all.0.name == "Admin" or user.groups.all.0.name == "Member" %}

            $('#desired_temp_arrow').css("left",(img_width*0.75));
            $('#desired_temp_arrow').css("top",(Math.abs(max_block_height - (desired_temp_final_height)))- img_height*0.03 );
            $('#desired_temp_arrow').css("width", "15%");
            $('#desired_temp_arrow').draggable({

                axis: "y",
                drag: function(event,ui){
                    dragposition = ui.position;
                    var max_height = (30 -(((dragposition.top/img_height) + 0.02685535358932783)* 39.8512));
                    max_height_rounded =    Math.round(max_height*2)/2;

                    var desired_temp_height = single_block_difference * max_height;
                    $('#desired_temp').css("top",(margin_top - 30 + img_height*0.05 + Math.abs(max_block_height - (desired_temp_height))));
                    $('#set_temp').text(max_height_rounded);

                },
                stop: function(){
                    chatsock.send(JSON.stringify({
                    'desired_temp': max_height_rounded
                  }));

                  $.ajax({
                      url: {% url 'desired_temp_change' %},
                      data: {value: max_height_rounded},
                      traditional: true,
                      dataType: 'json',
                      success: function(result){
                          }
                  });
                }

            });
            $('#desired_temp_arrow').on('mousedown', function() {
              var x1 = x2 = $("#desired_temp_arrow").position().left;
              var y1 = (height/2) - (img_height*0.55);
              var y2 = (height/2) + (img_height*0.2);
              $("#desired_temp_arrow").draggable('option', 'containment', [x1, y1, x2, y2]);
            });
        {% endif %}


      }

      $(window).resize(function () {
        therm_set();
      });

      function start(){

        if (h_state.includes("constant_on") == true){
            websocket_heater_state = 0;
        }
        if (h_state.includes("use_schedule") == true){
            websocket_heater_state = 1;
        }
        therm_set();

        var state;
        var relay_state = "{{ relay_state }}";


        if (relay_state == "disconnected"){
            $('#disconnect_error').css("visibility", "visible");
            $('#disconnect_alpha').css("visibility", "visible");
        }
        if (websocket_heater_state == 0 ){
            state = "constant_on";
            set_text_to_show_when_desired_temp_will_be_reached(0);

        }
        else if (websocket_heater_state == 1) {
            state = "schedule";

            if (get_current_schedule_status(user_server_time) == 0){
            var next_hour = get_next_schedule(user_server_time);

            var time_to_next_turn_on = get_time_to_next_turn_on(user_server_time, next_hour);
            set_text_to_show_next_schedule(time_to_next_turn_on);
            }
            else {
                  set_text_to_show_when_desired_temp_will_be_reached(0);
            }
        }
        else{
            state = "constant_off";

            turn_off();
        }
        set_theme();
        {% if user.groups.all.0.name == "Admin" or user.groups.all.0.name == "Member" %}
            document.getElementById(state).checked = true;
        {% endif %}

      };

      function set_theme(){

          if (theme_color == "Dark"){
            $(".Orange").attr("id","Dark");
            $('#block_therm').attr("src", "{% static "images/drawing6.svg" %}");
          }


          if (accent_color == "Green") {
            $(".Orange").attr("class","Green");
            $('#outside_therm').attr("src", "{% static "images/drawing7.svg" %}");
            $('#inner_arrow').css("fill", "#008000");
          }
          if (accent_color == "Red") {
            $(".Orange").attr("class","Red");
            $('#outside_therm').attr("src", "{% static "images/drawing8.svg" %}");
            $('#inner_arrow').css("fill", "#B6313E");
          }
          if (accent_color == "Blue") {
            $(".Orange").attr("class","Blue");
            $('#outside_therm').attr("src", "{% static "images/drawing9.svg" %}");
            $('#inner_arrow').css("fill", "#4472A7");
          }

      }

      function get_current_hour(user_server_time){
        var date = new Date;
        date.setTime(user_server_time);
        var hour = date.getHours();
        var dayOfWeek = date.getDay(); // Sunday = 0, Monday = 1, etc.
        var day;

        switch (dayOfWeek) {
          case 0:
              day = 6;
              break;
          case 1:
              day = 0;
              break;
          case 2:
              day = 1;
              break;
          case 3:
              day = 2;
              break;
          case 4:
              day = 3;
              break;
          case 5:
              day = 4;
              break;
          case 6:
              day = 5;
        }
        current_hour = (((day*24)+hour));
        return current_hour;
      }

      function get_current_schedule_status(user_server_time){
        if (schedule_array.length == 0) {
          schedule_array = {{ schedule_hours }};
        }
        current_hour = get_current_hour(user_server_time);
        if (schedule_array[current_hour] == 1){
          return 1;
        }
        else {
          return 0;
        }
      }

      function get_next_schedule(user_server_time){
        current_hour = get_current_hour(user_server_time);
        var i = current_hour + 1;
        while (true) {
            if (schedule_array[i] == 1){
              var next_hour = i;
              break;
            }
            if (i == 168){i = 0;}
            i++;
        }

        return next_hour;
      }

      function get_time_to_next_turn_on(user_server_time, next_hour){
        var date = new Date;
        date.setTime(user_server_time);
        var next_day_date = new Date;
        next_day_date.setTime(user_server_time + 86400000);

        var day;
        var next_calendar_hour;
        var next_calendar_day;
        var now_next;
        var newDate = new Date(date.setTime( date.getTime() + 86400000 ));
        if (next_hour < 24)   { next_calendar_hour = next_hour      ; next_calendar_day = 0} else
        if (next_hour < 48)   { next_calendar_hour = next_hour - 24 ; next_calendar_day = 1} else
        if (next_hour < 72)   { next_calendar_hour = next_hour - 48 ; next_calendar_day = 2} else
        if (next_hour < 96)   { next_calendar_hour = next_hour - 72 ; next_calendar_day = 3} else
        if (next_hour < 120)  { next_calendar_hour = next_hour - 96 ; next_calendar_day = 4} else
        if (next_hour < 144)  { next_calendar_hour = next_hour - 120; next_calendar_day = 5} else
                              { next_calendar_hour = next_hour - 144; next_calendar_day = 6}
                              var hour = date.getHours();

        if (next_calendar_day != date.getDay()){

          now_next = next_day_date;
        }

        else{
          now_next = date;

        }
        next_time = new Date(now_next.getFullYear(), now_next.getMonth(), now_next.getDate(), next_calendar_hour, 0, 0, 0);

        time_to_next_turn_on_milli = Math.abs(next_time - now_next);
        time_to_next_turn_on = Math.round(time_to_next_turn_on_milli/1000);
        return time_to_next_turn_on;

      }

      function format_next_schedule(time_to_next_turn_on){
        var h = Math.floor(time_to_next_turn_on / 3600);
        var m = Math.floor(time_to_next_turn_on % 3600 / 60);
        var s = Math.floor(time_to_next_turn_on % 3600 % 60);

        var hDisplay = h > 0 ? h + (h == 1 ? " hour, " : " hours ") : "";
        var mDisplay = m > 0 ? m + (m == 1 ? " minute, " : " minutes ") : "";
        var sDisplay = (s > 0 && m == 0) ? s + (s == 1 ? " second" : " seconds") : "";
        $('#average_time').text("Heat is scheduled to turn on in " + hDisplay + mDisplay + sDisplay);

      };

      function turn_off() {
        clearInterval(x);
        $('#average_time').text("Heat is off");
        $('#current_temp').css({ color: "#a7adba" });
        $('#desired_temp').css({ color: "#a7adba" });
        $('#inner_arrow').css({ fill: "#a7adba" });
        $('#outside_therm').attr("src", "{% static "images/drawing4.svg" %}");
        $('#inside_therm').attr("src", "{% static "images/drawing5.svg" %}");

      }

      function turn_on() {
        clearInterval(x);
        $('#current_temp').css({ color: "#818181" });
        $('#desired_temp').css({ color: "#818181" });
        $('#inside_therm').attr("src", "{% static "images/drawing1.svg" %}");

        if (accent_color == "Orange"){
          $('#inner_arrow').css({ fill: "#EBA421" });
          $('#outside_therm').attr("src", "{% static "images/drawing.svg" %}");
        }
        else if (accent_color == "Green") {
          $('#inner_arrow').css({ fill: "#008000" });
          $('#outside_therm').attr("src", "{% static "images/drawing7.svg" %}");
        }
        else if (accent_color == "Red") {
          $('#inner_arrow').css({ fill: "#B6313E" });
          $('#outside_therm').attr("src", "{% static "images/drawing8.svg" %}");
        }
        else {
          $('#inner_arrow').css({ fill: "#4472A7" });
          $('#outside_therm').attr("src", "{% static "images/drawing9.svg" %}");
        }

      }

      function set_text_to_show_next_schedule(time_to_next_turn_on){
         clearInterval(x);

         total_temp_change = desired_temp_websocket - current_temp_websocket;
         total_average = total_temp_change * average_websocket;

         if (ai_state == "Enabled" && (time_to_next_turn_on - total_average <= 0)){
             set_text_to_show_when_desired_temp_will_be_reached(1);
         }
         else{
         format_next_schedule(time_to_next_turn_on);
         x = setInterval(function displaytime(){
           format_next_schedule(time_to_next_turn_on);
           time_to_next_turn_on = time_to_next_turn_on - 1;
            }, 1000);
          }
       };

      function set_text_to_show_when_desired_temp_will_be_reached(ai_state){

        total_temp_change = desired_temp_websocket - current_temp_websocket;
        total_average = total_temp_change * average_websocket;


        clearInterval(x);

        if(current_temp_websocket < desired_temp_websocket){
          var h = Math.floor(total_average / 3600);
          var m = Math.floor(total_average % 3600 / 60);
          var s = Math.floor(total_average % 3600 % 60);

          var hDisplay = h > 0 ? h + (h == 1 ? " hour, " : " hours ") : "";
          var mDisplay = m > 0 ? m + (m == 1 ? " minute, " : " minutes ") : "";
          var sDisplay = (s >= 0 && m == 0) ? s + (s == 1 ? " second" : " seconds") : "";
          if (ai_state == 1){
            $('#average_time').text("Heat has switched on early because of the AI and desired temperature will be reached in " + hDisplay + mDisplay + sDisplay);
          }
          else{
            $('#average_time').text("Heat is on and desired temperature will be reached in " + hDisplay + mDisplay + sDisplay);
          }

          x = setInterval(function displaytime(){

            var h = Math.floor(total_average / 3600);
            var m = Math.floor(total_average % 3600 / 60);
            var s = Math.floor(total_average % 3600 % 60);

            var hDisplay = h > 0 ? h + (h == 1 ? " hour, " : " hours ") : "";
            var mDisplay = m > 0 ? m + (m == 1 ? " minute, " : " minutes ") : "";
            var sDisplay = (s > 0 && m == 0) ? s + (s == 1 ? " second" : " seconds"): "";
            if (ai_state == 1){
              $('#average_time').text("Heat has switched on early because of the AI and desired temperature will be reached in " + hDisplay + mDisplay + sDisplay);
            }
            else{
              $('#average_time').text("Heat is on and desired temperature will be reached in " + hDisplay + mDisplay + sDisplay);
            }
             }, 1000);
        }
        else{
          $('#average_time').text("Heat isn't on, it's warm enough");
        }

      }

      $(function() {



          chatsock.onmessage = function(message) {

              var a = JSON.parse(message.data);

              if (a.new_ai_state != null){
                ai_state = a.new_ai_state;
              }
              $('#sensor').text(a.measured_temp);
              $('#set_temp').text(a.desired_temp);

              if (a.heater_relay_state != null){
                  if (a.heater_relay_state == "connected"){
                      $('#disconnect_error').css("visibility", "hidden");
                      $('#disconnect_alpha').css("visibility", "hidden");
                  }
                  else{
                      $('#disconnect_error').css("visibility", "visible");
                      $('#disconnect_alpha').css("visibility", "visible");
                  }

              }
              if (a.desired_temp != null){
                  desired_temp_websocket = a.desired_temp;
                  therm_set()
              }

              if (a.average != null){
                  average_websocket = a.average;
              }
              if (a.heater_state == 0) {
                  $('#constant_on').prop("checked", true);
                  $('#schedule').prop("checked", false);
                  $('#constant_off').prop("checked", false);
                  websocket_heater_state = 0;
                  turn_on();

              }
              if (a.heater_state == 1) {
                  $('#constant_on').prop("checked", false);
                  $('#schedule').prop("checked", true);
                  $('#constant_off').prop("checked", false);
                  websocket_heater_state = 1;
                  turn_on();

              }
              if (a.heater_state == 2){
                  $('#constant_on').prop("checked", false);
                  $('#schedule').prop("checked", false);
                  $('#constant_off').prop("checked", true);
                  websocket_heater_state = 2;

              }

              if (a.average != null || a.desired_temp != null || a.heater_state != null || a.new_ai_state != null || a.measured_temp != null){


                if (websocket_heater_state == 0){
                  set_text_to_show_when_desired_temp_will_be_reached(0)
                }

                else if (websocket_heater_state == 1) {
                  //IN THIS BLOCK
                  if (get_current_schedule_status(user_server_time) == 0){
                    var next_hour = get_next_schedule(user_server_time);
                    var time_to_next_turn_on = get_time_to_next_turn_on(user_server_time, next_hour);
                    set_text_to_show_next_schedule(time_to_next_turn_on);
                  }
                  else {

                      set_text_to_show_when_desired_temp_will_be_reached(0);
                  }
                  //IN THIS BLOCK
                }

                else {
                  turn_off();
                }


              }


              if (a.measured_temp != null){
                  current_temp_websocket = a.measured_temp;
                  therm_set();
              }



          };

          {% if user.groups.all.0.name == "Admin" or user.groups.all.0.name == "Member" %}
              $('[data-action="set_state"]').on('click', function() {
                  var id = $(this).attr('id');

                  if (id == "constant_on"){
                      state = 0;
                  }
                  else if (id == "schedule"){
                      state = 1;
                      turn_on();

                  }
                  else {
                      state = 2
                      console.log("Turning device off");
                      turn_off();
                  }
                  chatsock.send(JSON.stringify({
                    'heater_state': state
                  }));


                  $.ajax({
                      url: {% url 'heater_change_state' %},
                      data: {value: state},
                      traditional: true,
                      dataType: 'json',
                      success: function(result){
                          }
                  });

              });
          {% endif %}

      });
  </script>

{% endblock %}
