
{% extends 'base.html'%}

{% block base %}
{% load staticfiles %}


<!DOCTYPE html>

    <body>
        <link rel="stylesheet" href="{% static "css/admin.css" %}" />

            <div id="register_div" style="width: 60%; height: 80%; top:0; left:0; right:0; bottom:0; position:absolute; margin:auto;">
              <h1>Ranks Explained<br></h1>

                Guest
                    <ul type="disc" line-height: 5px;>
                        <li line-height: 5px;>Can Log In</li>
                        <li line-height: 5px;>Can Log Out</li>
                    </ul>
                User
                    <ul type="disc" line-height: 5px;>
                      <li>Has All The Abilities Of Guest</li>
                      <li>Can View The Temperature Being Measured By The Device</li>
                      <li>Can View The Desired Temperature That Was Set By The User</li>

                    </ul>
                Member
                    <ul type="disc" line-height: 5px;>
                      <li line-height: 5px;>Has All The Abilities Of User</li>
                      <li line-height: 5px;>Can Change The Desired Temperature</li>
                      <li line-height: 5px;>Can Remotely Turn The Device On And Off</li>
                    </ul>
                Admin
                    <ul type="disc" line-height: 5px;>
                      <li line-height: 5px;>Has All The Abilities Of Member</li>
                      <li line-height: 5px;>View User List</li>
                      <li line-height: 5px;>Change The Default Rank Of New Registrations</li>
                    </ul>

                <br><br>
                <input type="button"
                       class="small_button"

                       value="Return To Security Page"
                       onclick="location.href = '{% url 'admin_page' %}';" />
            </div>
        <script>
            function start(){
                var accent_color = "{{ accent_color }}";
                if (accent_color == "Orange"){
                  accent_color_hex = "#EBA421";
                }
                else if (accent_color == "Green") {
                  accent_color_hex = "#008000";
                }
                else if (accent_color == "Red") {
                  accent_color_hex = "#B6313E";
                }
                else{
                  accent_color_hex = "#4472A7";
                }
                $('.small_button').css("background", accent_color_hex);
            }
        </script>
    </body>
{% endblock %}
