


{% load static %}


{% block content %}
<head>

    <title>Hub User Settings</title>
    <link rel="stylesheet" href="{% static "css/settings.css" %}" />
</head>

<body onload="start()">


  <div id="container">

    <div id="theme_text">Theme<br><br></div>
    <div id="light" onclick="change_theme(0)"><img id="light_image" src='{% static "images/light.svg" %}'></div>
    <div id="dark" onclick="change_theme(1)"><img id="dark_image" src='{% static "images/dark.svg" %}'></div>
    <div id="accent_text" >Accent Colour<br><br></div>
    <div id="orange" onclick="change_theme(2)"><img id="orange_image" src='{% static "images/orange.svg" %}'></div>
    <div id="green" onclick="change_theme(3)"><img id="green_image" src='{% static "images/green.svg" %}'></div>
    <div id="red" onclick="change_theme(4)"><img id="red_image" src='{% static "images/red.svg" %}'></div>
    <div id="blue" onclick="change_theme(5)"><img id="blue_image" src='{% static "images/blue.svg" %}'></div>
    <div id="gap"></div>
    <button id ="return" class="button" onclick="location.href = '{% url 'login' %}';">Return To Main Page</button>

  <script type="text/javascript" src='{% static "jquery-3.2.1.min.js" %}'></script>

  <script>
      var theme_color = "{{ theme_color }}";
      var accent_color = "{{ accent_color }}";
      var accent_color_hex;

        function change_theme(theme) {

          switch (theme) {
              case 0:
                  theme_color = "Light";
                  break;
              case 1:
                  theme_color = "Dark";
                  break;
              case 2:
                  accent_color = "Orange";
                  break;
              case 3:
                  accent_color = "Green";
                  break;
              case 4:
                  accent_color = "Red";
                  break;
              case 5:
                  accent_color = "Blue";
          }
          clear_accents();
          start();

          $.ajax({
              url: "{% url 'change_theme' %}",
              data: {theme_color: theme_color, accent_color: accent_color},
              traditional: true,
              dataType: 'json',
              success: function(result){
                  }
          });
        };

        function start(){

            if (accent_color == "Orange"){
              accent_color_hex = "#EBA421";
              $('#orange_image').css("border","4px solid " + accent_color_hex);
              $('#orange_image').css("background",accent_color_hex);
              $('#orange_image').css("opacity",1);

            }
            else if (accent_color == "Green") {
              accent_color_hex = "#008000";
              $('#green_image').css("border","4px solid " + accent_color_hex);
              $('#green_image').css("background",accent_color_hex);
              $('#green_image').css("opacity",1);


            }
            else if (accent_color == "Red") {
              accent_color_hex = "#B6313E";
              $('#red_image').css("border","4px solid " + accent_color_hex);
              $('#red_image').css("background",accent_color_hex);
              $('#red_image').css("opacity",1);

            }
            else{
              accent_color_hex = "#4472A7";
              $('#blue_image').css("border","4px solid " + accent_color_hex);
              $('#blue_image').css("background",accent_color_hex);
              $('#blue_image').css("opacity",1);

            }

            $('#return').css("background", accent_color_hex);


            if (theme_color == "Dark"){
              $('body').css("background","#222222");
              $('#dark_image').css("opacity",1);
              $('#dark_image').css("background",accent_color_hex);
              $('#dark_image').css("border","4px solid " + accent_color_hex);
            }
            else{
              $('#light_image').css("opacity",1);
              $('body').css("background","#eef3f4");
              $('#light_image').css("background",accent_color_hex);
              $('#light_image').css("border","4px solid " + accent_color_hex);
            }

        }


        function clear_accents(){
          $('#light_image').removeAttr('style');
          $('#dark_image').removeAttr('style');
          $('#orange_image').removeAttr('style');
          $('#green_image').removeAttr('style');
          $('#red_image').removeAttr('style');
          $('#blue_image').removeAttr('style');
        }
  </script>
</body>


{% endblock %}
